/* ========= LAYOUT SECTION  ============ */
body{
    background-color: #9c9f84;
    margin: 0px;
    font-family: verdana,georgia,serif;
    font-size: 14px;
}
#header{
    background-color: #5c755e;
    margin: 10px;    
    height: 90px;
    border-radius: 5px;
}
#navbar ul {
    background-color: #000;
    margin: 10px;   
    text-decoration: none;
    padding: 5PX;
    list-style-type: none;
    text-align: center;
      
}
#navbar ul li{
 display: inline;
 margin: 40px;
    
}   

#navbar ul li a{
    text-decoration: none;
    font-family: Arial;
    padding: .2em 1em;
    color: #fff;
    background-color: #000;
   
}
#navbar ul li a:hover{
    text-decoration: none;
    font-family: Arial;
    padding: .2em 1em;
    color: #000;
    background-color: #fff;
   
}
.main{
    background-color: #e5e4d7;
    margin: 10px;    
    padding: 20px;
    font-size: 110%;
    margin-left: 10px;
    margin-right: 320px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.sideright{
    background-color: #e5e4d7;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    border-radius: 5px;
    padding: 20px;
    font-size: 110%;
    float: right;
    width: 260px;
    clear: right;
}
.imagesidebar{    
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    border-radius: 5px;
    float: right;
    width: 300px;
    clear: right;
    opacity: 1.0;
    transition: opacity 0.5s ease-in-out;
}
.imagesidebar:hover{   
    opacity: 0.4;
}
/*======= Footer========*/
#footer{
    background-color: #5c755e;
    margin: 10px;
    height: 60px;
    clear: both;
    border-radius: 5px;
    text-align: center;
    font-size: 90%;
    padding: 15px;
}
#footer ul li{
 display: inline;
 margin: 20px;
    
}   

#footer ul li a{
    text-decoration: none;
    font-family: Arial;
    padding: .2em 1em;
    color: black;
}
#footer ul li a:hover{
    text-decoration: none;
    font-family: Arial;
    padding: .2em 1em;
    color: #000;
    background-color: #fff;
   
}
    
/*=======Heading======= */
h1{
  font-size: 120%;
    color: #ce282e;
}
h2{
    font-size: 120%;
    color: darkblue;
}
h3{
    font-size: 250%;
    text-align: center;
    color: #e5e4d7;
    font-family: serif;
    margin: 0px;
    
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    
}